noderedadmin/test_example_subflow.json
{
    "id": "514b2fcbc2901f9c",
    "type": "subflow",
    "name": "Test Subflow Add Payload",
    "info": "",
    "category": "RAM Custom Subflows",
    "in": [
        {
            "x": 60,
            "y": 60,
            "wires": [
                {
                    "id": "c71c34bce12bcc5e"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 420,
            "y": 200,
            "wires": [
                {
                    "id": "307f78e4b9e1cd2f",
                    "port": 0
                }
            ]
        },
        {
            "x": 460,
            "y": 260,
            "wires": [
                {
                    "id": "307f78e4b9e1cd2f",
                    "port": 1
                }
            ]
        },
        {
            "x": 460,
            "y": 320,
            "wires": [
                {
                    "id": "307f78e4b9e1cd2f",
                    "port": 2
                }
            ]
        }
    ],
    "env": [
        {
            "name": "env_name",
            "type": "str",
            "value": "HOSTNAME"
        },
        {
            "name": "env_default",
            "type": "str",
            "value": "Added a string payload to the msg."
        }
    ],
    "meta": {
        "module": "test_subflow_add_env_payload",
        "type": "testing",
        "version": "0.0.1",
        "author": "munnox@hotmail.com",
        "desc": "Allow a subflow to get a env variable into a payload to test importing subflows",
        "keywords": "testing,enviroment",
        "license": "GPL-3.0"
    },
    "color": "#3FADB5",
    "outputLabels": [
        "Message",
        "Env Name Used Only",
        "Env Default Used Only"
    ],
    "icon": "node-red/swap.svg",
    "flow": [
        {
            "id": "baa0bbe71c9e39da",
            "type": "function",
            "z": "514b2fcbc2901f9c",
            "name": "Add string payload from enviroment using message",
            "func": "// Get a enviroment variable based on the name\n// in the subflow parameter\nvar env_name = env.get(\"env_name\")\nif(msg.env_name !== undefined) {\n    env_name = msg.env_name;\n}\nvar env_default = env.get(\"env_default\")\nif (msg.env_default !== undefined) {\n    env_default = msg.env_default;\n}\nvar env_string = env.get(env_name);\n// If a result cannot be found use the default parameter\nif(env_string === undefined) {\n    env_string = env_default;\n    node.warn(`Not found using ${env_name}. Using env default`);\n}\nmsg.payload = env_string;\n\n// extra docs\n// with new name\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 270,
            "y": 120,
            "wires": [
                [
                    "307f78e4b9e1cd2f"
                ]
            ]
        },
        {
            "id": "c71c34bce12bcc5e",
            "type": "change",
            "z": "514b2fcbc2901f9c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "Default Set",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 180,
            "y": 60,
            "wires": [
                [
                    "baa0bbe71c9e39da"
                ]
            ]
        },
        {
            "id": "307f78e4b9e1cd2f",
            "type": "switch",
            "z": "514b2fcbc2901f9c",
            "name": "Test for default",
            "property": "payload",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "else"
                },
                {
                    "t": "neq",
                    "v": "env_default",
                    "vt": "env"
                },
                {
                    "t": "eq",
                    "v": "env_default",
                    "vt": "env"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 3,
            "x": 200,
            "y": 200,
            "wires": [
                [],
                [],
                []
            ],
            "outputLabels": [
                "Always",
                "Env Name Found",
                "Env Default Detected"
            ]
        }
    ]
}